@import '../../scss/mixins.scss';


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;

  @media screen and (max-width: 800px) {
    padding-bottom: 60px;
  }

  @media screen and (max-width: 500px) {
    padding: 30px;
    padding-bottom: 60px;
  }

  .logo{
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    color: #ebebeb;


    @media screen and (max-width: 1000px) {
      font-size: 40px;
    }

  }
  .logo::before{
    content: 'Galleria';
  }

  nav ul {
    @include list-orizontal
  }

  .nav{

    @media screen and (max-width: 800px) {
      position: absolute;
      left: 50%;
      top: 100px;
      transform: translateX(-50%);
    }

  }

  .nav li {
    padding: 10px;
    opacity: .8;
    cursor: pointer;
    transition: .2s;

    @media screen and (max-width: 800px) {
      font-size: 14px;
      padding: 5px;
    }

  }
  .nav li:hover {
    opacity: 1;
  }

  .listIcons li {
    padding: 5px;
    
    @media screen and (max-width: 800px) {
      padding: 2px;
    }
  }

  .listIcons li svg {
    font-size: 20px;
    opacity: .6;
    cursor: pointer;
    transition: .2s;

    @media screen and (max-width: 800px) {
      font-size: 16px;
    }

  }
  .listIcons li svg:hover {
    opacity: 1;
  }


}