
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  background: rgb(21, 21, 22);
  min-height: 100vh;


  color: #ebebeb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}